[user]
  name = Cory Hutchison
  email = cory@mutecipher.com
  username = mutecipher
  signingkey = 32ABE5D29C8EE52D273ACB98705B2FEF0EF41082

[commit]
  gpgsign = true

[push]
  autoSetupRemote = true

[init]
  defaultBranch = main

[gpg]
  program = /opt/homebrew/bin/gpg

[url "ssh://git@github.com/"]
  insteadOf = https://github.com/

[includeIf "gitdir:~/Developer/Weedmaps/"]
  path = ~/.gitconfig.weedmaps

[includeIf "gitdir:~/Weedmaps/"]
  path = ~/.gitconfig.weedmaps
